// Global Variables
$blue: #01b4e4;
$green: #90cea1;
.credits{
    margin: 1rem 0;

    .section-title{
        font-size: 1.4rem;
        text-decoration: underline;
        margin-bottom: 1rem;
    }

    .persons{
        display: grid;
        column-gap: 2rem;
        row-gap: 2rem;
        grid-template-columns: repeat(auto-fit,minmax(12rem, 1fr));
        
        .person{
            background-color: #1c1c1c;
            display: flex;
            flex-direction: row;
            border-radius: .5rem;
            img{
                object-fit: cover;
                width: 6rem;
                height: 6rem;
            }
            .details{
                padding: .5rem;
                display: flex;
                flex-direction: column;
                h2{
                    font-size: 1.2rem;
                    color: white;
                }
                p{
                    font-size: .9rem;
                    color: white;
                }
            }
            &:hover{
                img{
                    border: solid 1.5px $blue;
                }
            }
        }
    }
}