.AllMovies{

    .title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        h2{
            font-size: 2.5rem;
        }
    }
}

.hide{
    display: none;
}
.show{
    display: inline;
}

.rotateArrow{
    transform: rotate(90deg);
}