// Global Variables
$blue: #01b4e4;
$green: #90cea1;
.EpisodePage{
    .image-wrapper {
        margin: 1rem 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 1rem;
        }
    }
    .overview{
        h2{
            text-decoration: underline;
            font-size: 1.4rem;
            margin-bottom: .5rem;
        }
    }

    .crew, .guest{
        margin: 1rem 0;
        .section-title{
            text-decoration: underline;
            margin-bottom: .5rem;
            font-size: 1.4rem;
        }

        .persons{
            display: grid;
            column-gap: 2rem;
            row-gap: 2rem;
            grid-template-columns: repeat(auto-fit,minmax(12rem, 1fr));
            .person{
                display: flex;
                flex-direction: row;
                align-items: center;
                img{
                    width: 2rem;
                    height: 2rem;
                    border-radius: 1rem;
                }
                .info{
                    margin-left: .5rem;
                    color: white;
                    h2{
                        font-size: 1.1rem;
                        padding: 0;
                        margin: 0;
                    }
                    p{
                        padding: 0;
                        margin: 0;
                        font-size: .8rem;
                    }
                }
                &:hover{
                    img{
                        border: 1px $blue solid;
                        transition: all .3s ease-in-out;
                    }
                    h2{
                        color: $green;
                        transition: all .3s ease-in-out;
                    }
                }
            }
        }
    }
}