// Global Variables
$blue: #01b4e4;
$green: #90cea1;

// Navbar css
.navbar{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    
    .top-nav{
        padding: .5rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1.5px solid $blue;
        .left-nav{
            width: 60%;
            display: flex;
            flex-direction: row;
            align-items: center;

            img{
                margin-left: .5rem;
                object-fit: cover;
                width: 12rem;
            }

            .dropdowns{
                width: 50%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;

                h2{
                    font-size: 1rem;
                    font-weight: 600;
                    color: white;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }

                .links{
                    z-index: 100;
                    position:absolute;
                    background: white;
                    border-radius: 0.3rem;
                    flex-direction: column;
                    display: none;
                    .link{
                        text-decoration: none;
                        width: 100%;
                        font-size: .9rem;
                        text-align: left;
                        color: #2f2f2f;
                        padding: .2rem .4rem;
                        cursor: pointer;
                        &:hover{
                            color: $blue;
                        }
                    }
                }
            }
        }

        .search{
            width: 40%;
            display: flex;
            flex-direction: row;
            .search-type-wrapper{
                width: fit-content;
                .search-type{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background: $blue;
                    padding: 0.4rem;
                    font-size: .9rem;
                    border-radius: .75rem 0 0 .75rem;
                    cursor: pointer;
                }
                .search-types{
                    z-index: 100;
                    position: absolute;
                    background: white;
                    border-radius: 0.25rem 0.25rem .5rem .5rem;
                    flex-direction: column;
                    display: none;
                    width: 10%;
                    p{
                        width: 100%;
                        font-size: .9rem;
                        text-align: left;
                        color: #2f2f2f;
                        padding: .2rem .4rem;
                        cursor: pointer;
                        &:hover{
                            color: $blue;
                        }
                    }
                }
            }
            input{
                border: none;
                width: 80%;
                background: white;
                color: #2f2f2f;
                font-size: .9rem;
                padding: 0.3rem .5rem;
                outline: none;
            }
            button{
                width: 15%;
                cursor: pointer;
                border: none;
                color: white;
                font-size: .9rem;
                padding: 0.3rem 0;
                border-radius: 0 .75rem .75rem 0;
                background: $blue;
                &:hover{
                    background: $green;
                }
            }
        }
    }


    // ul{
    //     width: 100%;
    //     padding: .5rem;
    //     list-style: none;
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-evenly;
    //     border-top: 1.5px solid $blue;
    //     border-bottom: 1.5px solid $blue;
    //     li .nav-link{
    //         text-decoration: none;
    //         font-size: 1rem;
    //         font-weight: 600;
    //         color: white;
    //         cursor: pointer;
    //         &:hover{
    //             color: $blue;
    //             transition: all 1s ease-in-out;
    //         }
    //         &:focus{
    //             color: $blue;
    //             transition: all 1s ease-in-out;
    //         }
    //     }

    //     .genre-dropdown {
    //         background: none;
    //         border: none;
    //         color: white;
    //         font-size: 1rem;
    //         font-weight: 500;
    //         padding: 0;
    //         .genre-option{
    //             margin: 0;
    //             background: #2f2f2f;
    //             font-size: .8rem;
    //             font-weight: 400;
    //             color: white;
    //             cursor: pointer;
    //         }
    //     }
    // }
}

.hide{
    display: none;
}
.arrow{
    margin-top: .1rem;
}