// Global Variables
$blue: #01b4e4;
$green: #90cea1;

.carousel-splide-wrapper{
    margin-bottom: .75rem;
}
.mediaCard{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    img{
        border-radius: 1rem;
        object-fit: cover;
        width: 100%;
        &:hover{
            border: solid 1.5px $blue;
        }
    }

    .vote-bubble {
        position:absolute;
        top: 0;
        right: 0;
    }

    .title{
        width: 100%;
        text-align: left;
        font-size: 1.2rem;
    }
    .release{
        width: 100%;
        text-align: left;
        font-size: .8rem;
        color: lightgrey;
    }
}