// Global Variables
$blue: #01b4e4;
$green: #90cea1;
.reccomended{
    margin-top: 1rem;
    .title{
        font-size: 1.4rem;
        margin-bottom: .5rem;
        text-decoration: underline;
    }

    .reccomended-card-wrapper{
        margin-bottom: 1rem;
    }

    .card{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        
        .vote-bubble2{
            position:absolute;
            right: 0;
            font-size: .9rem;
            border: white 2px solid;
            background: #081c22;
            padding: .4rem .2rem;
            color: white;
            border-radius: 50%;
        }
        img{
            object-fit: cover;
            width: 100%;
            &:hover{
                border: #01b4e4 1px solid;
            }
        }
        .content-title{
            margin-top: .25rem;
            font-size: 1.2rem;
            text-decoration: none;
            color: white;
            &:hover{
                text-decoration: underline;
            }
        }
        .date{
            font-size: .8rem;
            color: white;
            text-decoration: none;
        }

    }
}