// Global Variables
$blue: #01b4e4;
$green: #90cea1;
.banner {
    border-radius: 0.3rem;
    background-image: url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/8Y43POKjjKDGI9MH89NW0NAzzp8.jpg");
    background-size: contain;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .banner-title {
        margin-left: 4rem;
        width: 90%;
        text-align: left;
        h2{
            font-size: 4rem;
        }
        h3{
            font-size: 2rem;
        }
    }
    .search{
        margin-top: 1rem;
        margin-left: 4rem;
        width: 70%;
        display: flex;
        flex-direction: row;
        .search-type-wrapper{
            width: 15%;
            .search-type{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                background: $blue;
                padding: 0.5rem;
                font-size: 1rem;
                border-radius: 1rem 0 0 1rem;
                cursor: pointer;
            }
            .search-types{
                z-index: 100;
                position: absolute;
                background: white;
                border-radius: 0.25rem 0.25rem .5rem .5rem;
                flex-direction: column;
                display: none;
                width: 10%;
                p{
                    width: 100%;
                    font-size: 1rem;
                    text-align: left;
                    color: #2f2f2f;
                    padding: .2rem .4rem;
                    cursor: pointer;
                    &:hover{
                        color: $blue;
                    }
                }
            }
        }
        .search-input{
            border: none;
            width: 70%;
            background: white;
            color: #2f2f2f;
            font-size: 1rem;
            padding: 0.5rem;
            outline: none;
        }
        .search-btn{
            width: 10%;
            border-radius: 0 1rem 1rem 0;
            background-image: linear-gradient(to right, #90cea1, #01b4e4);
            color: white;
            cursor: pointer;
            padding: 0.5rem;
            font-size: 1rem;
            border: none;
            &:hover{
               color: #2f2f2f;
            }
        }
    }
}

.hide{
    display: none;
}
.arrow{
    margin-top: .1rem;
}